# Common
**/node_modules
**/dist
**/.next
**/.turbo
**/*.log
npm-debug.log*

.git
.gitignore
.github

.env
.env.*
**/.env
**/.env.*

.vscode
.idea
**/.DS_Store

**/coverage
**/tests
**/*.test.ts
**/*.spec.ts

docs
README.md
*.md

helm
argocd
loadtest
observability

k8s
docker-compose.yml
