node_modules/
**/node_modules/
dist/
**/dist/
.next/
**/.next/
out/
**/out/
coverage/
**/coverage/

.env
.env.local
.env.*.local
**/.env
**/.env.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.idea/
.vscode/
*.swp

apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

k8s/02-secret.yaml

# Local CI secrets
.secrets
